header {
  display: flex;
}
header nav :nth-child(3) {
  margin-left: 0px;
}
header li {
  list-style: none;
}
header img {
  width: 47px;
  margin-left: 11px;
  margin-top: 24px;
}
header ul {
  margin-left: 872px;
}
header ul li {
  margin-bottom: 8px;
}
header ul li:nth-child(4) {
  margin-bottom: 0px;
}
header a, header ul {
  margin-top: 12px;
}
header .header__tel {
  margin-left: 228px;
}
header .header__menu {
  display: none;
}

@media screen and (max-width: 1375px) and (min-width: 983px) {
  header {
    width: 983px;
  }
  header ul {
    margin-left: 422px;
  }
  header .header__tel {
    margin-left: 254px;
  }
}
@media screen and (max-width: 982px) and (min-width: 344px) {
  header nav {
    display: none;
  }
  header a {
    display: none;
  }
  header .header__menu {
    display: inline;
    margin-left: 233px;
  }
}
footer {
  display: flex;
  align-items: center;
  margin-top: 120px;
}
footer p, footer a {
  font-size: 16px;
  line-height: 140%;
}
footer .footer__text_uppercase {
  text-transform: uppercase;
}
footer .footer__text {
  margin-left: 280px;
  margin-right: 256px;
}
footer .footer__link :first-child {
  margin-right: 40px;
}

@media screen and (max-width: 1375px) and (min-width: 983px) {
  footer {
    flex-direction: column-reverse;
  }
  footer div {
    margin-bottom: 24px;
  }
  footer div :first-child {
    text-align: center;
  }
}
@media screen and (max-width: 982px) and (min-width: 344px) {
  footer {
    flex-direction: column-reverse;
  }
  footer div {
    margin-bottom: 24px;
  }
  footer div :first-child {
    text-align: center;
  }
}
.roboto-regular {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
}

button {
  padding: 12px 20px 12px 20px;
  background-color: #212529;
  color: white;
  border: none;
  font-size: 16px;
  line-height: 140%;
}

.form h2, .reviews h2, .projects h2, .work h2, .advantages h2 {
  color: #212529;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: auto;
  width: 562px;
}

* {
  margin: 0;
  padding: 0;
}

html {
  display: flex;
  justify-content: center;
  color: #212529;
  font-family: "Roboto";
}
html body {
  width: 1376px;
}
html a {
  color: #212529;
  text-decoration: none;
}

.main {
  margin-top: 40px;
}
.main h1 {
  font-size: 72px;
  line-height: 120%;
  font-weight: 400;
  font-family: Helvetica, sans-serif;
  width: 794px;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 418px;
}
.main a {
  font-size: 18px;
  line-height: auto;
  padding-bottom: 1px;
  border-bottom: #212529 solid 1px;
}
.main .main__section {
  display: flex;
  margin-top: 40px;
}
.main .main__section p {
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 235px;
  width: 445px;
  margin-right: 253px;
}

.advantages {
  display: flex;
  margin-top: 120px;
}
.advantages h2 {
  margin-right: 135px;
}
.advantages .advantages__text {
  margin-top: 29px;
  font-size: 16px;
  line-height: 140%;
  width: 446px;
}
.advantages :nth-child(4), .advantages :nth-child(6), .advantages :nth-child(8) {
  font-size: 36px;
  line-height: auto;
  margin-bottom: 10px;
}
.advantages :nth-child(5), .advantages :nth-child(7) {
  margin-bottom: 24px;
  width: 146px;
}
.advantages :nth-child(1), .advantages :nth-child(2) {
  margin-bottom: 16px;
}
.advantages :nth-child(3) {
  margin-bottom: 44px;
}

.work {
  display: flex;
  font-size: 16px;
  line-height: 140%;
  margin-top: 147px;
}
.work h2 {
  margin-right: 140px;
}
.work p {
  margin-top: 17px;
  width: 325px;
  margin-bottom: 20px;
}
.work table {
  border-collapse: collapse;
}
.work table tr :first-child {
  width: 328px;
  font-size: 36px;
  line-height: 120%;
  font-weight: 400;
  font-family: Helvetica, sans-serif;
}
.work table td {
  border-bottom: 1px solid #212529;
  padding-top: 24px;
  padding-bottom: 24px;
  vertical-align: top;
}

.projects {
  margin-top: 120px;
}
.projects h2 {
  margin-bottom: 32px;
}
.projects div {
  position: relative;
}
.projects div :nth-child(3), .projects div :nth-child(6) {
  margin-right: 0;
}
.projects img {
  margin-right: 16px;
  width: 445px;
  margin-bottom: 20px;
}
.projects .projects__die {
  position: absolute;
  top: 513px;
  background-color: rgba(33, 37, 41, 0.5);
  color: white;
  font-size: 16px;
  line-height: 140%;
  display: flex;
}
.projects .projects__die p {
  padding: 22px 0 22px 20px;
}
.projects .projects__die img {
  width: 12px;
  margin-left: 237px;
  padding-top: 22px;
}

.reviews {
  margin-top: 120px;
}
.reviews h2 {
  margin-bottom: 44px;
}
.reviews :nth-child(3) {
  margin-right: 0px;
}
.reviews div {
  display: flex;
}
.reviews div div {
  display: block;
  border: #212529 solid 1px;
  margin-right: 20px;
  width: 460px;
  height: 327px;
}
.reviews div div img {
  margin: 40px 0 32px 202px;
}
.reviews .reviews__name {
  text-align: center;
  font-size: 18px;
  line-height: auto;
  font-weight: 600;
  margin-bottom: 20px;
  font-family: Helvetica, sans-serif;
}
.reviews .reviews__text {
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

.form {
  display: flex;
  margin-top: 120px;
}
.form div {
  margin-left: 136px;
}
.form h2 {
  margin-bottom: 32px;
  width: 678px;
}
.form p {
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 83px;
}
.form ::-moz-placeholder {
  font-size: 16px;
  line-height: auto;
  color: #212529;
}
.form ::placeholder {
  font-size: 16px;
  line-height: auto;
  color: #212529;
}
.form input {
  margin-bottom: 16px;
  width: 562px;
  height: 31px;
  border: none;
  border-bottom: #212529 solid 1px;
}
.form #tel {
  margin-bottom: 24px;
}
.form button {
  margin-bottom: 40px;
}
.form .form__icon {
  margin-left: 0px;
  margin-right: 8px;
}

@media screen and (max-width: 1375px) and (min-width: 983px) {
  html body {
    width: 983px;
  }
  .main h1 {
    margin-right: 0px;
  }
  .main .main__section {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }
  .main .main__section p {
    margin-bottom: 40px;
  }
  .main .main__section div .main__img_inviseble {
    display: none;
  }
  .advantages h2 {
    margin-right: 0px;
  }
  .work h2 {
    margin-right: 0px;
  }
  .projects div :nth-child(3) {
    margin-right: 20px;
  }
  .reviews div div {
    height: 387px;
  }
  .reviews div div img {
    margin-left: 137px;
  }
  .reviews .reviews__name {
    text-align: center;
    font-size: 18px;
    line-height: auto;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: Helvetica, sans-serif;
  }
  .reviews .reviews__text {
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
  }
  .form div {
    margin-left: 0;
  }
  .form .form__img_invisible {
    display: none;
  }
}
@media screen and (max-width: 982px) and (min-width: 344px) {
  html body {
    width: 344px;
  }
  .main h1 {
    font-size: 32px;
    line-height: 120%;
    width: 344px;
    margin-bottom: 24px;
    margin-right: 0px;
  }
  .main .main__section {
    flex-direction: column;
  }
  .main .main__section p {
    font-size: 16px;
    line-height: 140%;
    width: 344px;
    margin-bottom: 24px;
  }
  .main .main__section div .main__img_inviseble {
    display: none;
  }
  .main .main__section .main__img {
    width: 344px;
  }
  .advantages {
    flex-direction: column;
  }
  .advantages h2 {
    font-size: 28px;
    line-height: auto;
    width: 344px;
  }
  .advantages .advantages__text {
    width: 344px;
    margin-top: 0;
  }
  .work {
    flex-direction: column;
  }
  .work h2 {
    font-size: 28px;
    line-height: auto;
    width: 344px;
    margin-right: 0;
  }
  .work p {
    margin-top: 17px;
    width: 325px;
    margin-bottom: 20px;
  }
  .work table {
    width: 100%;
  }
  .work table tr :first-child {
    width: 344px;
    font-size: 24px;
    line-height: 120%;
    border-bottom: none;
    margin-bottom: 0px;
    padding-bottom: 0;
  }
  .work table td {
    display: block;
    width: auto;
    margin-top: 0px;
  }
  .projects h2 {
    font-size: 28px;
    line-height: auto;
    width: 344px;
  }
  .projects img {
    width: 344px;
  }
  .projects .projects__die {
    top: 360px;
  }
  .projects .projects__die img {
    margin-left: 200px;
  }
  .reviews {
    margin-top: 120px;
  }
  .reviews h2 {
    font-size: 28px;
    line-height: auto;
    width: 344px;
  }
  .reviews div {
    flex-direction: column;
  }
  .reviews div div {
    width: 344px;
    height: 377px;
    margin-bottom: 24px;
  }
  .reviews div div img {
    margin-left: 155px;
  }
  .form {
    width: 344px;
  }
  .form h2 {
    font-size: 28px;
    line-height: auto;
    width: 344px;
  }
  .form div {
    margin-left: 0;
  }
  .form .form__img_invisible {
    display: none;
  }
  .form input {
    width: 344px;
  }
}/*# sourceMappingURL=main.css.map */